.loginPageHeader{
    margin-top: 3vw;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginPageHeader > button{
    border: 1px solid blue;
    font-size: 2vw;
    margin-left: 1vw;
    border-radius: 30px;
    padding:0.1vw 0.5vw;
}
.loginPageBody{
    margin-top: 3vw;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
form > label{
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
}
form>input{
    font-size: 1.5vw;
}
form > button{
    font-size: 2vw;
    margin-top: 1vw;
}